*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: steelblue;
    border: #333;
    margin-bottom: 15px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 15px gray;
}

p{
    margin-bottom: 15px;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 32% 65%;
    gap: 3%;
    align-items: start;
    margin-top: 20px;
}

main {
    grid-column: 2;
    
}

aside {
    grid-column: 1;
}

aside img {
    width: 100px;
    max-width: 220px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}

aside h2{
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

main img {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 180px;
    height: auto;
    float: right ;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

/* Seletores de Classe */ 

.caixa{
    clear: both;
    border: 1px solid rgba(0, 0, 0,0.15);
    padding: 1.2rem;
    border-radius: #fff;
    background-color: #eee;
}

.indentacao{
    margin-bottom: 15px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

footer{
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    text-align: 0.9rem;
    color: #666;
}